# Backend PostgreSQL
BE_POSTGRES_USER=postgres
BE_POSTGRES_PASSWORD=postgres
BE_POSTGRES_DB=financial_management
BE_POSTGRES_PORT=5432

# n8n PostgreSQL
N8N_POSTGRES_USER=n8n
N8N_POSTGRES_PASSWORD=n8n_password
N8N_POSTGRES_DB=n8n

# n8n app
N8N_PORT=5678

# Generate with:
# openssl rand -hex 32
N8N_ENCRYPTION_KEY=change_this_with_long_random_value

GENERIC_TIMEZONE=Asia/Jakarta
TZ=Asia/Jakarta

# Local setup
N8N_HOST=localhost
N8N_PROTOCOL=http
WEBHOOK_URL=http://localhost:5678/
N8N_EDITOR_BASE_URL=http://localhost:5678/
N8N_SECURE_COOKIE=false
N8N_PROXY_HOPS=0