# App Config
NODE_ENV=development
APP_NAME=nest-financial-management
APP_PORT=8080
APP_LOG_LEVEL=debug

# Backend PostgreSQL
BE_POSTGRES_USER=postgres
BE_POSTGRES_PASSWORD=postgres
BE_POSTGRES_DB=financial_management
BE_POSTGRES_PORT=5432
